---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import FirstSection from '../components/FirstSection.astro';
import SecondSection from '../components/SecondSection.astro';
import ThirdSection from '../components/ThirdSection.astro';
import BuySection from '../components/BuySection.astro';
import FirstVideo from '../components/FirstVideo.astro';
import SecondGeneralDemo from '../components/SecondGeneralDemo.astro';
import FourthSection from '../components/FourthSection.astro';
import Specifications from '../components/Specifications.astro';
---

<Layout title="NAC-PCCH-375">
  <main
    class="snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="lg:snap-center">
      <HeroSection />
    </div>
    <div class="lg:snap-center">
      <FirstSection />
    </div>
    <div class="lg:snap-center">
      <SecondSection />
    </div>
    <div class="lg:snap-center">
      <ThirdSection />
    </div>
    <div class="lg:snap-center">
      <FirstVideo />
    </div>
    <div class="lg:snap-center">
      <SecondGeneralDemo />
    </div>
    <div class="lg:snap-center">
      <FourthSection />
    </div>
    <div class="lg:snap-center">
      <Specifications />
    </div>
    <div class="lg:snap-center">
      <BuySection />
    </div>
  </main>
</Layout>
