---
import LongSection from "./LongSection.astro";
---

<LongSection
  title="GUÃA DE PRODUCTO"
  subtitle="Haz click en la imagen para descargar"
  color="white"
  pt="pt-4 md:hidden"
  textSize="text-[30px] xl:text-[40px]"
>
  <article
    slot="main"
    id="thirdsection"
    class="text-gray-200 flex flex-col items-center justify-center"
  >
    <div
      class="flex flex-col md:flex-row items-center justify-center pl-5 py-5 md:hidden"
    >
      <a href="fichaproducto.pdf" target="_blank" class="md:order-2">
        <img src="fichaproducto.png" class="w-11/12 rounded-xl" />
      </a>
    </div>

    <div
      class="hidden md:flex flex-col md:flex-row items-center justify-center md:justify-around md:pl-0 py-5 md:py-2"
    >
      <a href="fichaproducto.pdf" target="_blank">
        <img src="fichaproducto.png" class="w-11/12 rounded-xl" />
      </a>
    </div>
  </article>

  <!-- <div slot="footer" class="pb-10">
    <a
      class="border-[3px] backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white
       hover:text-black transition-colors"
      href="#buysection"
    >
      COMPRAR AHORA</a
    >
  </div> -->

  <div
    slot="background"
    class="bg-[#1a1a18] object-center object-cover h-full w-full"
  >
  </div>
</LongSection>
